node_modules/
dist/
.output/
.vinxi
.tanstack/**
.nitro
.wrangler/
.dev.vars

.env
.env.local
*.local

*.log
logs/

uploads/*
!uploads/.gitkeep

*.tar
*.tar.gz

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
